# ---- ARQUIVOS SENSÍVEIS ----
credenciais.json
token.json
*.env

# ---- AMBIENTE VIRTUAL ----
venv/
.env/
.venv/

# ---- CACHES DO PYTHON ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- ARQUIVOS TEMPORÁRIOS DO SISTEMA ----
.DS_Store
Thumbs.db

# ---- EDITOR / IDE ----
.vscode/
.ipynb_checkpoints/

# ---- LOGS ----
*.log

# ---- PYINSTALLER ----
build/
dist/
*.spec             # O arquivo .spec não deve ser commitado
*.exe              # Seus executáveis não devem ir para o GitHub
*.dll
*.so

# ---- OUTROS ----
*.bak
*.tmp
