# Este .gitignore deve estar sempre na pasta central do projeto
# pois, ele manda ignorar (dai o nome gitignore) pacotes e outras coisas pesadas que sao locais
# o .gitignore garante que nosso projeto suba limpo para o github.

# Ignorar ambiente virtual
venv/

# Ignorar caches do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos temporários
.DS_Store
.vscode/
.ipynb_checkpoints/
*.log

# Ignorar arquivos do sistema
Thumbs.db